<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Service-based Database trong project -->
		<add name="Db"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
								AttachDbFilename=|DataDirectory|\Quanlysach.mdf;
							   Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
